@media screen and (min-width: 768px)
	article:first-of-type
		width 65%
		
	#bienvenida
		display block
		float right
		margin 0 1em
		padding 0.5em
		h2
			margin 0
			color #434343
		#registro
			background #22BCEO
			color white
			display block
			font-size 1.2em
			text-decoration none
		#texto_registro
			color #aaa
			font-size 0.8
			
@media screen and (max-width: 768px)
	nav ul li 
		padding: .3em .3em 0 0
	header h1
		display: none
